@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width:8px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1000 {
  animation-delay: 1s;
}

.delay-2000 {
  animation-delay: 2s;
}

.react-datepicker__day--selected {
  @apply bg-blue-500 text-white;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-blue-400 text-white;
}

.react-datepicker__day--today {
  @apply font-bold text-blue-600;
}

.react-datepicker__header {
  @apply bg-blue-500 text-white;
}

.react-datepicker__current-month {
  @apply font-semibold;
}

.react-datepicker__day:hover {
  @apply bg-blue-100;
}
